/netbeans-virgo-maven-support/nbproject/private/
/netbeans-virgo-maven-support/build/
/netbeans-virgo-server-support/nbproject/private/
/netbeans-virgo-server-support/build/
/netbeans-virgo-suite/nbproject/private/
/netbeans-virgo-suite/build/